.contactContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 60%;

    .aboutUsTitle {
      text-transform: capitalize;
      height: 100px;
      font-family: 'FuturaLT-italics';
      text-align: center;
      font-size: 35px;
      line-height: 100px;
    }
    .aboutUsContainer {
      display: flex;
      justify-content: space-between;
      font-family: 'FuturaLT-italics';
      margin-bottom: 30px;
      .pictureLeft {
        width: auto;
        height: 300px;

      }
      .verticalContainer {
        width: 600px;
        display: flex;
        flex-direction: column;
        .description-left {
          flex: 1;
          text-align: left;
        }
        .description-right {
          flex: 1;
          text-align: right;
        }
      }
      .pictureRight {
        width: auto;
        height: 300px;

      }
    }

    .block1, .block2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 200px;
      margin: 30px 0;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
      }

      .description {
        display: flex;
        flex-direction: column;
        h2 {
          font-size: 36px;
          text-transform: uppercase;
          color: rgb(65, 65, 65);
        }
        p {
          margin: 0px;
          color: rgb(145, 145, 145);
        }
        .line {
          display: flex;
          gap: 8px;
          a:link, a:visited {
            color: rgb(145, 145, 145);
            text-decoration: none;
            display: inline-block;
          }
          a:hover, a:active {
            color: rgb(255, 171, 103);
          }
        }
      }
    }


  }

}