.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .about {
    margin-top: 2px;
    margin-bottom: 30px;
    width: 100%;
    background-color: rgb(71, 71, 71);
    .aboutContent {
      margin: 50px auto;
      width: 600px;
      .aboutTitle {
        color: white;
      }
      .aboutWords {
        color: white;
      }
    }
  }

  .contactUs {
    font-size: 36px;
    color: rgb(65, 65, 65);
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 50px;
    width: 100%;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }

    .description {
      display: flex;
      flex-direction: column;
      .contactName {
        font-size: 28px;
        text-transform: uppercase;
        color: rgb(65, 65, 65);
      }
      p {
        margin: 0px;
        color: rgb(145, 145, 145);
      }
      .line {
        display: flex;
        gap: 8px;
        a:link,
        a:visited {
          color: rgb(145, 145, 145);
          text-decoration: none;
          display: inline-block;
        }
        a:hover,
        a:active {
          color: rgb(255, 171, 103);
        }
      }
    }
  }
}
