@import url('https://fonts.googleapis.com/css?family=Nunito:400,900');

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 550px;
  font-family: 'Nunito', sans-serif;
  animation: fadeIn 0.6s ease-in-out forwards;
  .about {
    margin-top: 2px;
    width: 100%;
    height: 570px;
    background-color: rgba(74, 69, 67, 0.82);
    color: whitesmoke;
    .aboutContent {
      display: flex;
      flex: 0 0 50%;
      margin: 0px auto;
      margin-top: 70px;
      width: 1200px;
      gap: 20px;
      .aboutTitle {
        
      }
      .aboutWords {
        
      }
    }
    .aboutImg {
      width: 310px;
      height: 500px;
      animation: slideRight 2s ease-in-out forwards;
    }
  }
  @keyframes slideRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .contactUs {
    font-size: 36px;
    color: rgb(65, 65, 65);
  }

  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    margin-bottom: 50px;
    width: 100%;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
    }

    .description {
      display: flex;
      flex-direction: column;
      .contactName {
        font-size: 28px;
        text-transform: uppercase;
        text-decoration: none;
        color: rgb(65, 65, 65);
      }
      p {
        margin: 0px;
        color: rgb(145, 145, 145);
      }
      .line {
        display: flex;
        gap: 8px;
        a:link,
        a:visited {
          color: rgb(145, 145, 145);
          text-decoration: none;
          display: inline-block;
        }
        a:hover,
        a:active {
          color: rgb(255, 171, 103);
        }
      }
    }
  }
}
