@font-face {
  font-family: 'PumpkinPie';
  src: url('./fontStyle/PumpkinPieLattesBold-WyGGz.ttf') format('truetype');
}
@keyframes gradientLoad {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 100% 0;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.shopping-cart-modal {
  z-index: 10000;
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: rgb(243, 252, 255);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  .modal-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    .cartHeader {
      padding: 0 10px 0 150px;
      font-family: 'PumpkinPie';
      height: 80px;
      color: black;
      margin-bottom: 30px;
      .modal-title {
        font-size: 70px;
      }
    }
    .cartHeader::after {
      content: '';
      position: absolute;
      margin-top: 100px;
      left: 0;
      width: 100%;
      height: 5px;
      background-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent 4px,
        #ff7b60ce,
        #ff8066b3
      );
    }
    .cartFooter {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
    }
    .itemContainer {
      height: calc(100% - 250px);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .item {
        display: flex;
        height: 120px;
        padding: 5px;
        justify-content: flex-start;
        padding-top: 15px;
        gap: 20px;
        border-radius: 5px;
        background-color: #ffd4cc7e;
        .imgContainer {
          width: 45%;
          margin-left: 5px;
        }
        .imgContainer img {
          width: 90px;
          height: 90px;
          object-fit: cover;
          border-radius: 5px;
        }
        .removeBtn {
          position: absolute;
          right: 5px;
          background-color: #ff8066b3;
          border: none;
          color: whitesmoke;
          font-size: 20px;
          height: 35px;
          width: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }
        .removeBtn:hover {
          background-color: #ff8066ca;
        }
        .removeBtn:active {
          background-color: #ff684aca;
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
            -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
            inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
            inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
        }
        .itemInfo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          .name {
            font-size: 20px;
            font-weight: bold;
          }
          .info {
            font-size: 15px;
            display: flex;
            justify-content: flex-start;
            gap: 20px;
          }
          .input-group {
            height: 30px;
          }
          .quantitySelector {
            .form-control {
              height: 30px;
            }
            #quantityBtn {
              background-color: #ff8066b3;
              height: 30px;
              border: none;
              width: 30px;
              color: whitesmoke;
              border-radius: 5px;
            }
            #quantityBtn:hover {
              background-color: #ff8066ca;
            }
            #quantityBtn:active {
              background-color: #ff684aca;
            }
          }
        }
      }
    }
    .subtotal {
      height: 80px;
      font-size: 45px;
      font-weight: bold;
      padding-left: 10px;
      margin-bottom: 40px;
      font-family: 'PumpkinPie';
    }
    .btn {
      border-radius: 0;
      width: 100px;
      height: 60px;
      font-size: 18px !important;
    }
    .buyBtn {
      border: none;
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: #ff5736b6;
      overflow: hidden;
      border-radius: 5px;
    }
    .buyBtn:hover {
      text-decoration: none;
      color: #fff;
    }
    .buyBtn:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
    }
    .buyBtn:hover {
      opacity: 0.8;
    }
    .buyBtn:active {
      background-color: #ff684aca;
      top: 2px;
    }
    @keyframes shiny-btn1 {
      0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
      }
      80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
      }
      81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
      }
    }

    .closeBtn {
      border: none;
      border-radius: 5px;
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: #7c7c7cb3;
    }
    .closeBtn:hover {
      background-color: #676767b3;
    }
    .closeBtn:hover:after {
      left: auto;
      right: 0;
      width: 100%;
    }
    .closeBtn:active {
      top: 2px;
      background-color: #565656b3;
    }
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffb6c1;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #ff69b4;
  }
}

.shopping-cart-modal.show {
  right: 0;
}
