@font-face {
  font-family: 'FuturaLT-Light';
  src: url('./fontStyle/FuturaLT-Light.ttf') format('truetype');
}

.checkoutContainer {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 238, 222, 255);
  margin: 0 auto;
  padding-top: 60px;
  gap: 50px;
  font-family: 'FuturaLT-Light';
  .deliveryContainer {
    label {
      font-size: 18px;
      width: 100%;
      display: block;
    }

    input {
      width: 100%;
      height: 50px;
      display: block;
      margin-bottom: 12px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid rgb(85, 85, 85);
      font-size: 20px;
      padding: 0 10px;
    }
  }
  .procedureContainer {
    width: 550px;
    margin-bottom: 12px;
    display: inline-block;
    h2 {
      font-size: 30px;
      margin-bottom: 24px;
      font-weight: bold;
    }
    .continueBtn {
      width: 100%;
      height: 48px;
      margin-bottom: 12px;
      color: white;
      background-color: black;
      border-radius: 4px;
      border: none;
    }
    .separator {
      margin: 12px 0;
      border-bottom: 1px solid rgb(80, 80, 80);
    }
  }
  .summaryContainer {
    .summary {
      width: 500px;
      display: flex;
      flex-direction: column;
      position: sticky;
      top: 50px;
      right: 100px;
      background-color: rgba(241, 241, 241, 0.53);
      border-radius: 5px;
      padding: 25px;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      .summaryTitle {
        font-size: 28px;
        font-weight: bolder;
        padding-bottom: 20px;
        padding-top: 5px;
        border-bottom: 1px solid rgba(162, 162, 162, 0.748);
      }
      .item {
        display: flex;
        height: 130px;
        padding: 15px 0;
        border-bottom: 1px solid rgba(162, 162, 162, 0.748);
        .imgContainer {
          margin-right: 20px;
        }
        .imgContainer img {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }

        .itemInfo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 5px;
          .name {
            font-size: 20px;
            font-weight: bold;
          }
          .info {
            font-size: 18px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
          }
        }
        .price {
          font-size: 20px;
          margin-left: auto;
        }
      }
      .paymentDetails {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px 0;
        font-size: 22px;
        border-bottom: 1px solid rgba(162, 162, 162, 0.748);
      }
      .paymentDetails div {
        display: flex;
        justify-content: space-between;
      }
      .total {
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        padding-top: 15px;
        font-weight: bold;
      }
    }
  }
}

.creditCardContainer {
  width: 100%;
  background-color: rgb(224, 224, 224);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 20px 30px;
  label {
    width: 100%;
  }
  input[type="text"] {
    height: 40px;
    margin-bottom: 8px;
  }
  .longInput {
    width: 100%;
  }
  .shortInput {
    width: 50%;
  }
}

.paypalContainer {
  width: 100%;
  background-color: rgb(224, 224, 224);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 20px 30px;
}

.cashContainer {
  width: 100%;
  background-color: rgb(224, 224, 224);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 20px 30px;
}

.review_deliveryContainer {
  background-color: rgb(224, 224, 224);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 20px 30px;

  .review_deliveryTitle {
    font-size: 18px;
  }
}

.checkboxContainer {
  width: 100%;
  display: flex;
  margin: 20px 0;
  input[type="checkbox"] {
    margin-right: 10px;
  }
}

.procedureTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-size: 24px;
    color: rgb(119, 119, 119);
    margin-bottom: 0;
  }
  .edit {
    font-size: 18px;
    color: rgb(119, 119, 119);
    margin-bottom: 0;
    text-decoration: underline;
    cursor: pointer;
  }
  .edit:hover {
    color: rgb(62, 178, 255);

  }
}