
.completionContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .transaction {
    width: 600px;
    margin: 30px auto;
  }
  .viewOrder {
    width: 240px;
    height: 60px;
    background-color: rgb(209, 86, 29);
    color: white;
    border-radius: 10px;
  }
}