@font-face {
  font-family: 'MoodyadolescentRegular';
  src: url('./fontStyle/MoodyadolescentRegular-jE00v.otf') format('truetype');
}
@font-face {
  font-family: 'PumpkinPie';
  src: url('./fontStyle/PumpkinPieLattesBold-WyGGz.ttf') format('truetype');
}
.clearPadding {
  padding: 0 !important;
}
.headerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 250px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 999999;
  padding: 0;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    gap: 40px;
    font-size: 90px;
    color: #ff684aca;
    font-weight: 600;
    font-family: 'MoodyadolescentRegular';
    white-space: nowrap;
    margin: 10px 0 0 100px;
    .headerLogo {
      width: 95px;
      height: 95px;
      margin: 0 0 0 0;
      .logoImage {
        width: auto;
        height: 100%;
        opacity: 80%;
      }
    }
    .headerPage {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px 0 15px;
      height: 50px;
      gap: 90px;
      font-size: 50px;
      font-weight: 400;
      font-family: 'PumpkinPie';
      .nav-link{
        display: flex;
        align-items: center;
        height: 50px;
      }
    }
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
  }
  .headerIcon {
    display: flex;
    gap: 25px;
    margin-left: 0;
    height: 35px;
  }
  .headerIcon svg {
    height: 35px;
    width: 35px;
  }
  .cube-container {
    perspective: 1000px;
    margin-top: 10px;
  }

  .cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 6s infinite linear;
  }

  .face {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(4, 4, 4, 0.2);
    border: 1px solid #60e0dc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  .front {
    transform: translateZ(50px);
  }
  .back {
    transform: translateZ(-50px) rotateY(180deg);
  }
  .top {
    transform: rotateX(90deg) translateZ(50px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(50px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(50px);
  }
  .right {
    transform: rotateY(90deg) translateZ(50px);
  }

  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}
