@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.detailBackground {
  background-color: rgba(255, 238, 222, 255);
  padding: 80px 0;
  min-height: calc(100vh - 350px);
  width: 100%;
}
.detailContainer {
  justify-content: space-between;
  animation: fadeIn 0.6s ease-in-out forwards;
  margin: 0 auto;
  display: flex;
  max-width: 60%;
  justify-content: center;
  gap: 30px;
  .detailImg {
    width: 50%;
  }
  .detailImg img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
  .detailContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
    .detailName {
      font-size: 50px;
      font-weight: bolder;
    }
    .detailPrice {
      font-size: 30px;
      color: rgba(0, 0, 0, 0.628);
    }
    .detailInfo {
      font-size: 25px;
      color: rgba(0, 0, 0, 0.628);
    }
    .btn,
    .btn-primary {
      display: flex;
      align-items: center;
      height: 45px;
      width: 100%;
      color: whitesmoke;
      font-weight: bold;
      font-size: 20px;
      border-radius: 5px;
      border: none;
    }
    #quantityBtn {
      background-color: #ff8066b3;
      border: none;
      color: whitesmoke;
    }
    .dropdown-toggle::after {
      position: absolute;
      right: 20px;
      top: 20px;
    }
    #size-dropdown {
      width: 100%;
      background-color: #ff8066b3;
      text-align: left;
    }
    .dropdown-item:active {
      background-color: #ffc4abbc;
      color: black;
      box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
    }
    #size-dropdown:hover {
      background-color: #ff8066ca;
    }
    #size-dropdown:active {
      background-color: #ff684aca;
      box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
    }
    .dropdownBtn,
    .buyBtn {
      border: none;
      background: #ff8066b3;
      background: linear-gradient(
        0deg,
        #f58872b3 0%,
        #ff6648b3 100%
      );
      color: #fff;
      overflow: hidden;
      position: relative;
    }
    .buyBtn:hover {
      text-decoration: none;
      color: #fff;
    }
    .buyBtn:before {
      position: absolute;
      content: '';
      display: inline-block;
      top: -180px;
      left: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      animation: shiny-btn1 3s ease-in-out infinite;
    }
    .buyBtn:hover {
      opacity: 0.8;
    }
    .buyBtn:active {
      background-color: #ff684aca;
      top: 2px;
    }
    @keyframes shiny-btn1 {
      0% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0;
      }
      80% {
        -webkit-transform: scale(0) rotate(45deg);
        opacity: 0.5;
      }
      81% {
        -webkit-transform: scale(4) rotate(45deg);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(50) rotate(45deg);
        opacity: 0;
      }
    }

    .dropdown-menu {
      width: 100%;
    }
  }
}
