@font-face {
  font-family: 'PumpkinPie';
  src: url('./fontStyle/PumpkinPieLattesBold-WyGGz.ttf') format('truetype');
}
.searchContainer {
  .searchPage {
    min-height: 100vh;
    background-color: rgba(255, 238, 222, 255);
    .searchContent {
      width: 60%;
      display: flex;

      flex-direction: column;
      margin: 0 auto;
      padding-top: 80px;
      .searchTitle {
        font-family: 'PumpkinPie';
        font-size: 70px;
        margin-bottom: 40px;
      }
      .inputGroup{
        gap: 0;
      }
      .expanded{
        gap: 50px;
      }
      .inputGroup,
      .expanded,
      .outputGroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px 50px;
        margin-bottom: 60px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.502);
        background-color: whitesmoke;
        .textContainer{
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
        .barContainer{
          width: 100%;
          margin-bottom: 30px;
        }
        #searchInput {
          width: calc(100% - 150px);
          font-size: 25px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .form-control {
            height: 80px;
            font-size: 25px;
          }
          .form-control:focus {
            box-shadow: 0 0 2px 2px #ff684aca;
          }
          .example {
            font-size: 22px;
            color: gray;
            margin-top: 25px;
          }
        }
        .orderDetail {
          font-size: 20px;
        }
        .itemList{
          flex-grow: 0.9;
          max-height: 620px;
          overflow-y: auto;
        }
        .product {
          height: 120px;
          display: flex;
          border: 2px solid #ffd6d0dc;
          border-radius: 5px;
          padding: 10px;
          background-color: #ffe4d95d;
          margin-bottom: 5px;
          .infoDetail {
            width: calc(100% - 80px);
            display: flex;
            flex-direction: column;
          }
          .productInfo {
            display: flex;

            justify-content: space-between;
            .productTitle,
            .productPrice {
              font-weight: bolder;
              font-size: 18px;
            }
            .itemComment,
            .itemNumber {
              color: gray;
              font-size: 15px;
            }
          }
          .total {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            font-size: 24px;
            font-weight: bolder;
          }
          .productImg {
            width: 96px;
            height: 96px;
            margin-right: 20px;
          }
          .productImg img {
            object-fit: cover;
            height: 100%;
            border-radius: 5px;
          }
        }
        .product:last-child{
          margin-bottom: 0;
        }
      }
      .outputGroup {
        opacity: 0;
        overflow: hidden;
        transition: opacity 0.2s ease-out;

      }
      .expanded {
        opacity: 1 !important;
      }
      .notFound{
        display: flex;
        justify-content: center;
        font-family: 'PumpkinPie';
        font-size: 70px;
        color:rgb(172, 72, 60);
        margin-top: 50px;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f8f8f8;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff8870e6;
    border-radius: 2.5px;
    border: 1px solid #e7e7e7e1;
    box-shadow: none;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ff775ce6;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #c06350e6;
  }
}
.btn,
.btn-primary {
  height: 80px;
  width: 120px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px !important;
  border-radius: 5px;
  border: none;
}
#searchBtn {
  background-color: #ff8066e1;
  border: none;
  color: whitesmoke;
}
#searchBtn:hover {
  background-color: #ff694be1;
}
#searchBtn:active {
  background-color: #ff5331e6;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}
.searchContainer p{
  margin-bottom: 0;
}