@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: 'FuturaLT-Light'; /* 自定义字体名称 */
  src: url('./fontStyle/FuturaLT-Light.ttf') format('truetype');
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shopContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  min-height: 100vh;
  animation: fadeIn 0.6s ease-in-out forwards;
  .title {
    text-align: center;
  }

  .newArrivalContainer,
  .allProductContainer {
    margin-bottom: 30px;
    .productContainer {
      display: flex;
      justify-content: space-around;
      height: 600px;
      font-family: 'FuturaLT-Light';
      .product {
        display: flex;
        gap: 10px;
        flex-direction: column;
        width: 350px;
        border: 2px solid #93e4fff2;
        flex-shrink: 0;
        .productImg {
          height: 350px;
          background-color: #ffbbbbf2;
        }
        .productName,
        .productPrice {
          padding-left: 10px;
          font-size: 20px;
        }
        .productPrice {
          font-size: 18px;
        }
        .input-group{
          width: 330px;
          margin-left: 10px;
        }
        .btn,
        .btn-primary {
          height: 40px;
          color: black;
          margin-left: 10px;
          border-radius: 0;
        }

        .dropdown-toggle::after {
          position: absolute;
          right: 20px;
          top: 17px;
        }
        #size-dropdown {
          width: 330px;
          background-color: wheat;
          text-align: left;
          border: 2px solid #cc8c32f2;
        }
        .dropdownBtn,
        .buyBtn:hover {
          background-color: rgb(230, 188, 111);
        }
        .buyBtn {
          width: 330px;
          background-color: wheat;
          border: 2px solid #cc8c32f2;
        }
        .dropdown-menu {
          width: 330px;
        }
      }
    }
  }
}
